<%= link_to "Strona główna", root_path %>
<%= link_to "O twórcy", about_path %>
<%= link_to "Pracownicy", workers_path %>

<h1>Lista pracowników</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Data urodzenia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.surname %></td>
        <td><%= worker.email %></td>
        <td><%= worker.birthdate %></td>
        <td><%= link_to 'Pokaz', worker %></td>
        <td><%= link_to 'Edytuj', edit_worker_path(worker) %></td>
        <td><%= link_to 'Usun', worker, method: :delete, data: { confirm: 'Czy napewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy pracownik', new_worker_path %>
